  {{#if @archive.archived}}
   <p class="subtitle has-text-white my-2" >
          this user is Archieved:

        </p>
        <button class="button mb-2" type="button" {{on "click" (fn this.toggleArchive @archive.id)}}>
          UnArchived {{this.Archived}}
        </button>

  {{else}}
 <p class="subtitle has-text-white my-2">
          this user is Unarchieved:

        </p>
        <button class="button mb-2" type="button" {{on "click" (fn this.toggleArchive @archive.id) }}>
          Archived {{this.Archived}}
        </button>

  {{/if}}